Package: paraevaluar
Version: 1.0-2
Section: base
Priority: optional
Depends: coreutils, awk, time, groff-base, bc
Maintainer: Joan Vinyals - joanvyc@ieee.org
Description: paraevaluar
 Is a tool aimed to automatize the performance analisys procedures.
